@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

.work-sans-font {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header section */

.header {
  background-color: rgba(255, 144, 14, 0.1);

  padding: 0 20px;
}

.navbar {
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-size: 45px;
  font-weight: 700;
}

.nav-links {
  gap: 40px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: rgb(66, 66, 66);
  text-decoration: none;
  font-size: 18px;
}

/* Banner section */

.banner {
  /* background-color: red; */

  padding: 40px 80px;
}

.banner--content {
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.banner-img {
  width: 100%;
}

/* Main section */

/* Team section*/

.teams {
  width: 80%;
  margin: 0 auto;
  align-items: center;
  /* gap: 80px; */

  padding: 20px 60px;
  justify-content: center;
}

.team-img {
  width: 100%;
  display: block;
}

.teams--content {
  width: 80%;
  margin: 0 auto;

  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

/* Feature section */
.features {
  /* background-color: red; */
  align-items: flex-start;
  gap: 40px;
  padding: 0 40px;
  margin: 40px 0;
}

.feature--content-box {
  width: 80%;
}

.feature--content-container {
  width: 90%;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding: 0 40px;
}

.feature--content-head {
  border-radius: 8px;
  padding: 15px 40px;

  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
}

.feature--img {
  width: 100%;
}

.btn--experience {
  padding: 45px 42px;
  border: none;
  border-radius: 13px;
  background-color: rgb(255, 144, 14);
  margin-top: -100px;
  margin-left: -100px;
}

.btn--experience-link {
  text-decoration: none;
  color: #fff;
  font-size: 64px;
  font-weight: 700;
}

.exp {
  font-size: 18px;
  display: block;
}
